<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="menu(false)">
        Menu
      </button>
        </ion-buttons>
        <ion-title>
            <img src="{{LogoUrl}}" class="title-image">
        </ion-title>
        <ion-buttons end>
            <button ion-button ion-button icon-only (click)="favorite(menuItem)">
              <ion-icon name="{{FavoriteIcon}}"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="cards-bg social-cards">
    <ion-card *ngFor="let item of data.items">
        <ion-item>
            <ion-avatar item-left>
                <img src="{{item.logoUrl}}">
            </ion-avatar>
            <p>{{item.author}}</p>
            <h6 text-wrap text-justify>{{item.title}}</h6>
        </ion-item>
        <div (click)="view(item)">
            <img src="{{item.urlToImage}}">
            <ion-card-content text-justify>
                <p *ngIf="item.description !== undefined && item.description.length <= 200">{{item.description}}</p>
            </ion-card-content>
        </div>
        <ion-row>
            <ion-col col-9>
                <button (click)="facebook(item)" ion-button color="primary" clear small icon-left>
             <ion-icon name="logo-facebook"></ion-icon>            
        </button>
                <button (click)="twitter(item)" ion-button color="primary" clear small icon-left>
             <ion-icon name="logo-twitter"></ion-icon>            
        </button>
                <button (click)="message(item)" ion-button color="primary" clear small icon-left>
        <ion-icon name='text'></ion-icon>        
      </button>
            </ion-col>
            <ion-col align-self-center text-center>
                <ion-note>{{item.pubDate | date}}</ion-note>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
<style>
    .social-cards ion-col {
        padding: 0;
    }
</style>